.button-home {
    display: inline-block;
    background-color: #252c41;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    margin-right: 0;
}