.button-home {
    display: inline-block;
    box-sizing: border-box;
    border: none;
    background-color: #252c41;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    margin-right: 0;
    margin-top: 98px;
}

.button-home.-second {
    background-color: transparent;
    border: 2px solid #fff;
    width: 218px;
    line-height: 56px;
    margin-right: 38px;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}