.description-home {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
    width: 550px;
}

.description-home.-summary {
    font-size: 25px;
    margin-bottom: 100px;
    margin-top: 154px;
}

.description-home.-rateprice{
    font-size: 20px;
    margin-bottom: 28px;
}

.description-home.-last {
    margin-bottom: 73px;
}

.description-home.-about {
    font-size: 18px;
}