.description-home {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    width: 553px;
    transition: all 300ms linear;
}

.description-home > .title {
    font-size: 25px;
    margin-bottom: 50px;
}

.description-home > .heart {
    position: absolute;
    top: 9px;
    transform: translateX(calc(-100% - 47px));
    cursor: pointer;
}

.description-home > .images {
    margin-bottom: 25px;
}

.description-home > .images > .image {
    margin-right: 9px;
}

.description-home .image {
    cursor: pointer;
    transition: transform 100ms linear;
}

.description-home .image:hover {
    transform: scale(1.25);
}

.description-home > .images + .item {
    margin-left: 7px;
}

.description-home > .item {
    font-size: 20px;
    margin-bottom: 28px;
}

.description-home > .item.-info {
    width: 200px;
    text-align: right;
}

.description-home > .item.-last {
    margin-bottom: 73px;
}

.description-home .upper {
    text-transform: uppercase;
    float: left;
}

.description-home > .about {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

.description-home > .about.-more {
    margin: 0;
}

.description-home .action {
    color: inherit;
    text-decoration: none;
}

@media (max-width: 1310px) {
    .description-home {
        width: 50%;
        min-width: 655px;
        margin: 0 auto 60px;
    }

    .description-home > .title {
        font-size: 35px;
        text-align: center;
    }

    .description-home > .images {
        float: left;
    }

    .description-home > .item {
        padding-top: 4px;
    }
}

@media (max-width: 720px) {
    .description-home {
        width: 90%;
        min-width: auto;
    }   
}