.header-home {
    color:#fff;
    overflow: hidden;
    padding-left: 60px;
}

.header-home > .title {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    text-transform: uppercase;
    margin-bottom: 138px;
}

.search {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #fff;
    width: 358px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #fff;
    margin-left: 602px;
}

::-moz-placeholder {
    opacity: 1;
}

.header-home > .navigation {
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right;
}

.header-home .action {
    text-decoration: none;
    color: inherit;
    margin-right: 60px;
}

.header-home .action.-last {
    margin: 0;
}