.header-home {
    color:#fff;
    overflow: hidden;
    padding-left: 60px;
    margin-bottom: 138px;
}

.header-home > .title {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    text-transform: uppercase;
    cursor: pointer;
}

.header-home [type = "search"] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    width: 358px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: inherit;
    padding: 8px;
    margin-right: 65px;
}

::-moz-placeholder {
    opacity: 1;
}

.header-home > .navigation {
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right;
}

.header-home .action {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    position: relative;
    margin-right: 60px;
    padding-bottom: 8px;
}

.header-home .action::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #fff;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: center left;
    transition: transform 200ms linear;
}

.header-home .action:hover::after {
    transform: scaleX(1);
}

.header-home .action.-last {
    margin-right: 60px;
}

@media (max-width: 1235px) {
    .header-home > .title {
        float: none;
        text-align: center;
        margin-bottom: 20px;
    }

    .header-home > .navigation {
        float: none;
        text-align: center;
    }
}

@media (max-width: 1010px) {
    .header-home {
        padding-left: 30px;
    }

    .header-home [type = "search"] {
        display: none;
    }
}

@media (max-width: 530px) {
    .header-home .action {
        margin-right: 30px;
    }
}

@media (max-width: 465px) {
    .header-home {
        padding-left: 16px;
    }

    .header-home .action {
        margin-right: 15px;
    }
}

@media (max-width: 410px) {
    .header-home .action, .action.-last {
        margin-right: 6px;
    }
}

@media (max-width: 372px) {
    .header-home .action, .action.-last {
        margin-right: 2px;
    }
}

@media (max-width: 365px) {
    .header-home .action, .action.-last {
        display: none;
    }
}