.photo-home {
    display: inline-block;
    background-color: #fff;
    height: 574px;
    vertical-align: middle;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    margin-right: 157px;
}

@media (max-width: 1322px) {
    .photo-home {
        margin-right: 100px;
    }
}

@media (max-width: 1265px) {
    .photo-home {
        margin-right: 25px;
    }
}

@media (max-width: 986px) {
    .photo-home {
        position: relative;
        border-radius: 0;
        width: 100%;
        margin-bottom: 50px;
    }

    .photo-home .phone {
        position: absolute;
        transform: translateX(40%)
    }
}