.wrap-home {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.wrap-home > .buttons {
    position: absolute;
    bottom: 0;
    transform: translateY(calc(100% + 98px));
}

@media (max-width: 986px) {
    .wrap-home {
        margin-left: 25%;
    }
}