header {
    background-color: #e24647;
    position: relative;
}

h1, a {
    color: #fff;
}

h1, .navegacao {
    display: inline;
}

h1 {
    font-family: Arial;
    font-size: 40px;
}

a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 21px;
    text-decoration: none;
}

.navegacao {
    float: right;
}